# Grafana Datasource Provisioning
# Auto-configures Prometheus as a data source on startup

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
